name: Reformat PR code

on:
  pull_request:
    branches:
      - master

jobs:
  reformat:
    uses: FasterSpeeding/Piped/.github/workflows/reformat.yml@ffeab0adc405750bf25cafe02094609da96425d8
    secrets: inherit
