name: Reformat PR code

on:
  pull_request:
    branches:
      - master

jobs:
  reformat:
    uses: FasterSpeeding/Piped/.github/workflows/reformat.yml@45ffb6bffc26d7abcae7a8f300f60c306cd706eb
    secrets: inherit
