name: Reformat PR code

on:
  pull_request:
    branches:
      - master

jobs:
  reformat:
    uses: FasterSpeeding/Piped/.github/workflows/reformat.yml@694447157e4a1b28844a909f800dc7ba9409c001
    secrets: inherit
